<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.carrent/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.carrent.view.user/UserListView.title"/>
        <item view="Vehicle.list" title="msg://com.company.carrent.view.vehicle/vehicleListView.title"/>
        <item view="Booking.list" title="msg://com.company.carrent.view.booking/bookingListView.title"/>
        <item view="Customermainview" id="CustomerMainView"
              title="msg://com.company.carrent.view.customermain/customermainview.title"/>
        <item view="Staffmainview" title="msg://com.company.carrent.view.staffmain/staffMainView.title"
              id="Staffmainview"/>
        <item view="AdminMainView" id="AdminMainView"
              title="msg://com.company.carrent.view.adminmain/adminMainView.title"/>
    </menu>

</menu-config>